<div>
  <p><%= link_to "Editar #{t(item.class.name.downcase)}", edit_restaurant_item_path(item.restaurant, item) %></p>
  <p><%= button_to "Deletar #{t(item.class.name.downcase)}", restaurant_item_path(item.restaurant, item), method: :delete %></p>
  <p><%= t("#{item.class.name.downcase}") %>: <%= item.menu_item.name %></p>
  <p>Descrição: <%= item.menu_item.description %></p>
  <% if item.menu_item.calories.present? %>
    <p>Calorias: <%= item.menu_item.calories %></p>
  <% else %>
    <p>Calorias: Não informado</p>
  <% end %>
  <% if item.photo.present? %>
    <p><%= image_tag(item.photo)%></p>
  <% end %>
</div>