<div class="mb-4">
  <h2 class="text-xl font-bold"><%= restaurant.name %> - <%= restaurant.code %></h2>
  <p><%= link_to 'Editar dados do Restaurante', edit_restaurant_path(restaurant), class: 'text-blue-500 hover:underline' %></p>
</div>

<div class="bg-white grid grid-cols-3">
  <h3 class="text-lg font-semibold mb-2">Informações</h3>

  <div class="mb-2">
    <h4 class="font-semibold">Endereço</h4>
    <address class="not-italic text-gray-700">
      <%= restaurant.address.street %>, <%= restaurant.address.number %>
      <% if restaurant.address.complement.present? %>
        <br><%= restaurant.address.complement %>
      <% end %>
      <br><%= restaurant.address.district %>
      <br><%= restaurant.address.city %>, <%= restaurant.address.state %> - <%= restaurant.address.zip_code %>
    </address>
  </div>

  <p class="mt-4">
    <%= link_to 'Editar Endereço', edit_restaurant_address_path(restaurant, restaurant.address), class: 'text-blue-500 hover:underline' %>
  </p>
</div>
