<div><%= restaurant.name %> - <%= restaurant.code %></div>

<table>
  <p><%= link_to 'Editar dados do Restaurante', edit_restaurant_path(restaurant) %></p>
  <caption>Informações</caption>
  <%= link_to 'Editar Endereço', edit_restaurant_address_path(restaurant, restaurant.address) %>
  <tbody>
    <thead>
      <tr>
        <th>
          Endereço
        </th>
      </tr>
    </thead>
    <tr>
      <td>
        <address><%= restaurant.address.street %>, <%= restaurant.address.number %></address>
        <% if restaurant.address.complement.present? %>
          <address><%= restaurant.address.complement %></address>
        <% end %>
        <address><%= restaurant.address.district %></address>
        <address><%= restaurant.address.city %>, <%= restaurant.address.state %></address>
        <address><%= restaurant.address.zip_code %></address>
      </td>
    </tr>
  </tbody>
</table>

