<%= render 'shared/errors', object: @restaurant %>

<%= form_with model: @restaurant, data: {turbo: false} do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :brand_name %>
    <%= form.text_field :brand_name %>
  </div>

  <div>
    <%= form.label :register_number %>
    <%= form.text_field :register_number %>
  </div>

  <div>
    <%= form.label :comercial_phone %>
    <%= form.text_field :comercial_phone %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>