<%= render 'restaurant', restaurant: @restaurant %>

<section class="container mx-auto">
  <div id="business-hours" class="h-screen">
      <div>
        <% if @restaurant.business_hours.any? %>
          <p>Horário de funcionamento</p>
          <% @restaurant.business_hours.each do |business_hour| %>
            <p><%= business_hour.display_hours%> - <%= link_to 'Editar', edit_restaurant_business_hour_path(@restaurant, business_hour) %></p>
          <% end %>
        <% else %>
          <%= link_to 'Cadastrar horário de funcionamento', new_restaurant_business_hour_path(@restaurant) %>
        <% end %>
      </div>
  </div>
  <div id="menu-list" class="flex flex-row h-screen">
    <div class="basis-1/2">
      <%= link_to 'Registrar opção de prato', new_restaurant_dish_path(@restaurant) %>
      <%= render  'menu_items/menu_items', items: @restaurant.dishes, restaurant: @restaurant %>
    </div>

    <div class="basis-1/2 mx-auto">
      <%= link_to 'Registrar opção de bebida', new_restaurant_beverage_path(@restaurant) %>
      <%= render  'menu_items/menu_items', items: @restaurant.beverages, restaurant: @restaurant %>
    </div>
  </div>
</section>