<%= render 'restaurant', restaurant: @restaurant %>

<section>
  <div id="business-hours">
      <div>
        <% if @restaurant.business_hours.any? %>
          <p>Horário de funcionamento</p>
          <% @restaurant.business_hours.each do |business_hour| %>
            <p><%= business_hour.display_hours%> - <%= link_to 'Editar', edit_restaurant_business_hour_path(@restaurant, business_hour) %></p>
          <% end %>
        <% else %>
          <%= link_to 'Cadastrar horário de funcionamento', new_restaurant_business_hour_path(@restaurant) %>
        <% end %>
      </div>
  </div>
  <div id="menu-list">
    <%= link_to 'Registrar opção de prato', new_restaurant_dish_path(@restaurant) %>
    <div>
      <% if @restaurant.dishes.any? %>
        <% @restaurant.dishes.each do |dish| %>
          <div>
            <p><%= link_to dish.menu_item.name, restaurant_dish_path(@restaurant, dish) %></p>
            <% if dish.photo.present? %>
              <p><%= image_tag(dish.photo)%></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>